#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
<title>&{'AssetsOverview_TITLE'}</title><!--资产概况 -->
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1 class="pull-left">
				<i class="icon-ok"></i> <span>&{'AssetsOverview_TITLE'}</span><!--资产概况 -->
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="box-content box-padding">
				<div class="table-info">
				<table class="table table-bordered table-striped" style="margin-bottom: 0;" >
				<thead>
					<tr>
						<th width="15%">
							<strong>&{'AssetClasses'}</strong>
						</th>
						<!--<th width="15%">
							<strong>DMZ</strong>
						</th>
						<th width="15%">
							<strong>&{'LevelTwo'}</strong>
						</th>
						<th width="15%">
							<strong>&{'LevelThree'}</strong>
						</th>
						<th width="15%">
							<strong>&{'AssetManage'}</strong>
						</th>
						--><th width="15%">
							<strong>&{'AssetTotal'}</strong>
						</th>
					</tr>
				</thead>
				
				<tbody>
					#{list items:objects, as:'cb'}
						<tr>
							<td>${cb.TypeName}</td><!--
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						--><td>${cb.Amount}</td>
    					</tr>
					#{/list}
				</tbody>
				</table>
			</div>
				<div style="display: none">
					#{crud.table fields:['TypeName']}
						#{crud.custom 'TypeName'}
						#{/crud.custom}
					#{/crud.table}
			   </div>
		 </div>
		</div>
	</div>
</div>
  <div id="crudListPagination" class="pagination">
    </div>