#{extends 'main.html' /}
#{set title:'' /}

<div class="row">
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'PRO_NAME'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.PRO_NAME}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'ROOM_POSITION'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.ROOM_POSITION}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'INTERNAL_NUMBER'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.INTERNAL_NUMBER}" class="form-control" disabled>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'RACK_NUMBER'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.RACK_NUMBER}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'LOCATION'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.LOCATION}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'APP_NAME'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.APP_NAME}" class="form-control" disabled>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'VENDOR'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.VENDOR}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'MODEL'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.MODEL}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'SN'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.SN}" class="form-control" disabled>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'CONFIG'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.CONFIG}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'DEVICE_TYPE'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.DEVICE_TYPE}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'PARTITION_INFO'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.PARTITION_INFO}" class="form-control" disabled>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'IP'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.IP}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'OS'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.OS}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'BEGIN_DATE'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.BEGIN_DATE}" class="form-control" disabled>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'END_DATE'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.END_DATE}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'DEPARTMENT'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.DEPARTMENT}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'APP_DEPARTMENT'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.APP_DEPARTMENT}" class="form-control" disabled>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'CONTACTS'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.CONTACTS}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-4">&{'TELEPHONE'}</label>
			<div class="controls col-md-8">
				<input type="text" value="${object.TELEPHONE}" class="form-control" disabled>
			</div>
		</div>
	</div>
	<!--
	<div class="col-md-8">
		<div class="form-group no-margin-hr">
			<label class="control-label col-md-8">&{'REMARK'}</label>
			<div class="controls col-md-12">
				<input type="hidden" id="hiddenRemark" class="form-control" value="${object.REMARK}">
				<textarea rows="5" cols="20" name="remark" class="form-control" id="remark" disabled>
				</textarea>
			</div>
		</div>
	</div>
     -->
</div>

<div class="row">
	<div  style="width:100%">
		<div class="form-group no-margin-hr">
		    	<label class="control-label col-md-8" style="width:10%;padding-left: 20px">&{'REMARK'}</label>
			<div class="controls col-md-12" style="width:90%;padding-left: 23px;padding-right: 20px;">
				<input type="hidden" id="hiddenRemark" class="form-control" value="${object.REMARK}">
				<textarea rows="5" cols="20" name="remark" class="form-control" id="remark" disabled>
				</textarea>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="form-actions" style="margin-bottom: 0">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3" style="padding-left:20%;">
			    	<button type="submit" onclick="refund();" class="btn btn-primary btn-sm" name="_save"><i class="fa fa-save"></i>&nbsp;&nbsp;&{'RETURN_BUTTON'}</button>&nbsp;&nbsp;<!-- 返回 -->
				</div>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
$(function() {
	var hiddenRemark = document.getElementById("hiddenRemark").value;
	var textobj = document.getElementById('remark');
	textobj.innerHTML = hiddenRemark;
});

function refund(){
	window.location="list";
}
</script>