#{extends 'main.html' /}
#{set title:'' /}
<br/>
#{if objs!=null && objs.size()>0}
		<form id = "ObjsVMS" class="form form-horizontal validate-form"  action="@{batchManual()}" encType="multipart/form-data" method="post" accept-charset="utf-8">
		<input type="hidden" value="${tWorkOrderId}" name="tWorkOrderId" class="form-control">
		#{list items:objs, as:'obj'}
			<div class="row">
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'count'}</label>
						<div class="controls col-md-8">
							<input type="text" value="${obj.count}" name="${obj.id}_count" class="form-control" readonly="readonly">
							<input type="hidden" value="${obj.ELEMENT_ID}" name="ELEMENT_ID" class="form-control">
							<input type="hidden" value="${obj.id}" name="msWorkOrderId" class="form-control">
							<input type="hidden" value="" id="submitType" name="submitType" class="form-control">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'memory'}</label>
						<div class="controls col-md-8">
							<input type="text" value="${obj.memory}" name="memory" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'os'}</label>
						<div class="controls col-md-8">
							<input type="text" value="${obj.os}" name="os" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'dbsoft'}</label>
						<div class="controls col-md-8">
							<input type="text" value="${obj.dbsoft}" name="dbsoft" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'middleware'}</label>
						<div class="controls col-md-8">
								<input type="text" value="${obj.middleware}" name="middleware" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'ROOT_VG'}</label>
						<div class="controls col-md-8">
							<input type="text" value="100G" name="${obj.id}_disksize" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<!--<label class="control-label col-md-4">&{'disksize'}(GB)</label>-->
						<label class="control-label col-md-4">&{'DATA_VG'}</label>
						<div class="controls col-md-8">
							<input type="text" value="${obj.disksize}" name="" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'vcpu'}</label>
						<div class="controls col-md-8">
							<input type="text" value="${obj.vcpu}" name="vcpu" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'status'}</label>
						<div class="controls col-md-8">
							<!--<input type="text" value="${obj.status}" name="status" class="form-control" disabled>  -->
							#{if obj.status == '1' || obj.status == '' || obj.status ==null }
								<input type="text" value="工单未处理" name="status" class="form-control" disabled>
							#{/if}
							#{elseif obj.status == '2'}
								<input type="text" value="虚拟机创建中" name="status" class="form-control" disabled>
							#{/elseif}
							#{elseif obj.status == '3'}
								<input type="text" value="虚拟机创建完成" name="status" class="form-control" disabled>
							#{/elseif}
							#{elseif obj.status == '4'}
								<input type="text" value="虚拟机创建失败" name="status" class="form-control" disabled>
							#{/elseif}
							#{elseif obj.status == '5'}
								<input type="text" value="虚拟机调整中" name="status" class="form-control" disabled>
							#{/elseif}
							#{elseif obj.status == '6'}
								<input type="text" value="虚拟机调整完成" name="status" class="form-control" disabled>
							#{/elseif}
							#{elseif obj.status == '7'}
								<input type="text" value="虚拟机调整失败" name="status" class="form-control" disabled>
							#{/elseif}
							#{elseif obj.status == '8'}
								<input type="text" value="手工操作完成" name="status" class="form-control" disabled>
							#{/elseif}
						</div>
					</div>
				</div>
				<!--<div class="col-md-4">
					<div class="form-group no-margin-hr">
						<label class="control-label col-md-4">&{'ip'}</label>
						<div class="controls col-md-8">
							<input type="text" value="自动生成" class="form-control" disabled>
						</div>
					</div>
				</div>
			-->
			</div>
			<hr/>
		#{/list}
		</form>
		#{/if}
	   <div class="row">
		<div class="col-sm-12">
			<div class="form-actions" style="margin-bottom: 0">
				<div class="row">
					<div class="col-sm-9 col-sm-offset-3" style="padding-left:20%;">
				    	<button type="button" onclick="javascript:window.history.go(-1);" class="btn btn-primary btn-sm" name="_save"><i class="fa fa-save"></i>&nbsp;&nbsp;&{'RETURN_BUTTON'}</button>&nbsp;&nbsp;<!-- 返回 -->
					</div>
				</div>
			 </div>
			</div>
		</div>


