#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1 class="pull-left">
				<i class="icon-ok"></i> <span>&{'DistribuOfRes_TITLE'}</span><!--资源分配情况 -->
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="box-content box-padding">
				<div class="table-info">
				<table class="table table-bordered table-striped" style="margin-bottom: 0;" >
				<thead>
					<tr>
						<th width="15%">
							<strong></strong>
						</th><!--
						<th width="15%">
							<strong></strong>
						</th>
						<th width="15%">
							<strong></strong>
						</th>
						--><th width="15%">
							<strong>&{'pre_Total'}</strong>
						</th>
						<th width="15%">
							<strong>&{'Used'}</strong>
						</th>
						<th width="15%">
							<strong>&{'pre_Available'}</strong>
						</th>
					</tr>
				</thead>
				
				<tbody>
					#{list items:objects, as:'cb'}
						<tr>
							<td>CPU</td><!--
    						<td></td>
    						<td></td>
    						--><td>${cb.CPU}</td>
    						<td>${cb.CPUUse}</td>
    						<td>${cb.CPURemain}</td>
    					</tr>
    					<tr>
							<td>Memory</td><!--
    						<td></td>
    						<td></td>
    						--><td>${cb.Memory}</td>
    						<td>${cb.MemoryUse}</td>
    						<td>${cb.MemoryRemain}</td>
    					</tr>
    					 <tr>
							<td>Store</td><!--
    						<td></td>
    						<td></td>
    						--><td>${cb.StoreSize}</td>
    						<td>${cb.StoreUse}</td>
    						<td>${cb.StoreRemain}</td>
    					</tr>
					#{/list}
				</tbody>
				</table>
			</div>
				<div style="display: none">
					#{crud.table fields:['TypeName']}
						#{crud.custom 'TypeName'}
						#{/crud.custom}
					#{/crud.table}
			   </div>
		 </div>
		</div>
	</div>
</div>
  <div id="crudListPagination" class="pagination">
    </div>