/*======================================
      WELCOME TO THE STYLESHEET
--------------------------------------      
     Copyright Mike Crittenden
      Author: Mike Crittenden
======================================*/
 
/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body {margin:0;padding-bottom:5em; }
.normal {}
.darker {}
.dark {}
.lighter {}
.left  {float:left}
.right {float:right}

/**************************************/
/*              HEADER                */
/**************************************/
#info_bar {margin:0 auto;clear:left; padding:10px 20px; overflow:hidden; height:30px}
#info_bar .hint {display:none;padding:0 5px;line-height:16px}
#info_bar:hover .hint {display:inline}
#info_bar b {cursor:pointer;display:block;width:16px;height:16px;float:left}
#menu_btn {cursor:pointer;float:left;background:url(g/icon.gif)}
#loading {visibility:hidden;background:url(../../img/loading.gif);margin-right:4px}
#maxAll {background:url(g/expandAll.png)}
#minAll {background:url(g/collapseAll.png)}


/**************************************/
/*             NAVIGATION             */
/**************************************/
/* JPolite Native Navigation Tab */


/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#content {
	/*
	 * width:950px ==> this is the default value set by bluetrip .container class
	 * You can adjust the width manually with a value = 950 +/- n*40
	 */
}
.module_template {display:none}
.cc {padding-bottom:1px}
.dragging {padding-bottom:30px; margin-bottom:20px; background:url(g/stripe1.png)}
.ui-sortable-placeholder { margin:10px 0; border: 1px dotted #f00; background:#faa; visibility: visible !important; height: 20px !important}

/* Module Components */
.module {background:#fff; margin-bottom:10px; border:1px solid #add8e6; display:none; -moz-box-shadow:0pt 0pt 1em #bbb}
.module:hover {border-color: #1e90ff}
.max {float:none !important; width:100% !important}
.min {display:none}
.moduleFrame {border:0; overflow:hidden;}
.moduleHeader {margin:10px; padding:2px; background:#518CB8; color:#000; cursor:move; overflow:hidden;
				border-width:1px; border-style:solid; border-color: #eee #eee #eee #eee}
.moduleTitle {background:url(g/icon.gif) no-repeat; height:1.4em; line-height:1.4em; float:left; padding-left:18px; font-weight:bold}
.moduleActions {display:none; float:right}
.moduleActions b {cursor:pointer;width:16px;height:16px;display:block;float:left}
	.actionRefresh {background:url('g/actionRefresh.png')}
	.moduleActions .actionMax {display:none;background:url('g/actionMax.png')}
	.actionMin {background:url('g/actionMin.png')}
	.actionClose {background:url('g/actionClose.png')}
	.actionConfig {background:url('g/actionConfig.png')}
.moduleHeader:hover .moduleActions {display:block}
.moduleContent {background:#fff; margin:10px}

/* Simple Theme for Modules */
.red .moduleHeader{background:#e24e61 url(g/module-orange.gif) repeat-x; border-color:#c94758 #F6A7B8 #F6A7B8 #c94758}
.orange .moduleHeader{background:#E2584E url(g/module-red.gif) repeat-x; border-color:#c94f47 #F6A7A8 #F6A7A8 #c94f47}
.yellow .moduleHeader{background:#E2904E url(g/module-yellow.gif) repeat-x; border-color:#c98147 #F6C4A7 #F6C4A7 #c98147}
.green .moduleHeader{background:#66B161 url(g/module-green.gif) repeat-x; border-color:#579653 #ABCFA5 #ABCFA5 #579653}
.blue .moduleHeader{background:#4E8EE2 url(g/module-header.gif) repeat-x; }
.white .moduleHeader{background:#9E9E9E url(g/module-white.gif) repeat-x; border-color:#888 #D9D9D9 #D9D9D9 #888}


/**************************************/
/*               CONTROLS             */
/**************************************/
/* Tabs Control */

/* Accordion Control */

.menu li {cursor:pointer}
.menu li:hover {background:#ddd}
.menu li.on {background:#aaa}
