<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>jquery.msgbox Demos</TITLE>
<META content="text/html; charset=UTF-8" http-equiv=Content-Type>
  <LINK rel=stylesheet type=text/css href="@{'/public/javascripts/jquery.msgbox.7.1/jquery.msgbox.css'}">
   <SCRIPT type=text/javascript src="@{'/public/javascripts/jquery.msgbox.7.1/jquery-latest.min.js'}"></SCRIPT>
   <SCRIPT type=text/javascript src="@{'/public/javascripts/jquery.msgbox.7.1/jquery.dragndrop.min.js'}"></SCRIPT>
   <script type=text/javascript src="@{'/public/javascripts/jquery.msgbox.7.1/jquery.msgbox.js'}"></script>
	<script type="text/javascript">
	      $(function(){  
		      	$("#test8").click(function(){
				new $.msgbox({
					onClose: function(){ alert(this.getValue()) }, // with onclose plugin
					type: 'confirm',
					content: 'Hello1111111111111111111111111'
				 }).show();
			    });
		  });
    </script>
<META></HEAD>

<body><!--
    <input id="add" type="button" value="添加" />
    <input id="delete" type="button" value="删除" />
    <input id="update" type="button" value="修改" />
    -->
<input type="button" id="test8" value="8.Plugin contenttype, confirm" />
       <!--
    <script src="../js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery.similar.msgbox.js" type="text/javascript"></script>
    -->
</body>
</html>