#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1 class="pull-left">
				<i class="icon-ok"></i> <span>&{'SYSTEM_MANAGE'}＞&{'crud.list.title', type.modelName}</span>
			</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="box-content box-padding">
				#{crud.table fields:['WORK_ORDER_ID','IP','OPERATION_TIME','APPLY_MAN','OPERATION_MAN','OPERATION_CONTENT']}
					#{crud.custom 'WORK_ORDER_ID'}
						<a href="@{ResOperations.view(object.id)}">${object.WORK_ORDER_ID}</a>
					#{/crud.custom}
				#{/crud.table}
			</div>
		</div>
	</div>
</div>
